@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<body>
    <style type="text/css">
        body {
            background-color: #ec8710;
            
        }
        h2{
            color: dimgray;
        }
    </style>
    <h1>Welcome!</h1>
    
    <h2>Please login to report a student absent or view absences.</h2>
</body>
</html>
